body{
    text-align:center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
   
    background-color:black;
    background-image: none;
    background-image:"C:\Users\Rohan\OneDrive\Pictures\Screenshots\Screenshot (1).png";
}